.playlistRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 0px;
  margin: 0.5em 1em;
  user-select: none;
  text-align: start;

  .overlay {
    display: flex;

    .cover {
      min-width: 70px;
      min-height: 70px;
      align-self: center;
      margin-right: 0.7em;
    }

    .textWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: inherit;
      margin-left: 5px;

      > h5 {
        margin: 0px;
        font-size: 15pt;
        font-weight: 500;
        word-wrap: break-word;
        display: table;
        table-layout: fixed;
        width: 100%;
        word-wrap: break-word;
        color: #fefefe;
        font-weight: 700;
      }

      .subInfo {
        display: flex;
        flex-direction: column;
        margin-bottom: 2px;
        max-height: fit-content;

        p {
          font-size: 10pt;
          margin: 0px;
          color: #b3b3b3;
          font-weight: 600;
        }
      }
    }

    .checkImg {
      fill: #fefefe;
      height: 40px;
      width: 40px;
      align-self: center;
    }
  }
}

.playlistRow:active {
  .overlay {
    background-color: #121212;
    opacity: 0.7;
  }
}
